accessible-pygments==0.0.4
adjustText==1.2.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
alabaster==0.7.13
anndata==0.9.2
annotated-types==0.7.0
annoy==1.17.3
ansicolors==1.1.8
appdirs==1.4.4
arboreto==0.1.6
asttokens==2.4.1
async-timeout==4.0.3
attr==0.3.2
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bbknn==1.6.0
beautifulsoup4==4.12.3
bidict==0.23.1
bioservices==1.11.2
bleach==6.1.0
blosc2==2.0.0
bokeh==3.1.1
boltons==24.0.0
bs4==0.0.2
cachetools==5.5.0
cattrs==23.2.3
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorful==0.5.6
colorlog==6.8.2
comm==0.2.2
contourpy==1.1.1
cryptography==43.0.0
ctxcore==0.2.0
cycler==0.12.1
Cython==0.29.37
cytoolz==0.12.3
dask==2023.5.0
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distributed==2023.5.0
docutils==0.19
easydev==0.13.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
fbpca==1.0
filelock==3.15.4
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gensim==4.3.3
geosketch==1.2
get-annotations==0.1.2
gevent==24.2.1
globre==0.1.5
google-api-core==2.19.1
google-auth==2.34.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
grequests==0.7.0
grpcio==1.65.5
gseapy==0.10.8
h5py==3.11.0
harmonypy==0.0.10
idna==3.7
igraph==0.11.6
imageio==2.35.1
imagesize==1.4.1
importlib_metadata==8.4.0
importlib_resources==6.4.3
interlap==0.2.7
intervaltree==3.1.0
ipykernel==6.29.5
ipympl==0.9.3
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==3.2.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.11
kaleido==0.2.1
kiwisolver==1.4.5
lazy_loader==0.4
lda==2.0.0
leidenalg==0.10.2
Levenshtein==0.25.1
line_profiler==4.1.3
llvmlite==0.41.1
locket==1.0.0
loompy==3.0.7
loomxpy @ git+https://github.com/aertslab/LoomXpy@61995ff10940968eac2cee8fe48300ab477a15d0
lxml==5.3.0
lz4==4.3.3
MACS2==2.2.9.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mizani==0.9.3
msgpack==1.0.8
mudata==0.2.3
multidict==6.0.5
multiprocessing_on_dill==3.5.0a4
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.5
nbsphinx-link==1.3.0
ncls==0.0.68
nest-asyncio==1.6.0
networkx==3.1
numba==0.58.1
numexpr==2.8.6
numpy==1.24.4
numpy_groupies==0.9.22
numpydoc==1.7.0
opencensus==0.11.4
opencensus-context==0.1.3
openpyxl==3.1.5
packaging==24.1
pandas==1.5.0
pandoc==2.4
pandocfilters==1.5.1
papermill==2.6.0
parso==0.8.4
partd==1.4.1
patsy==0.5.6
pbr==3.1.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==5.23.0
plotnine==0.12.4
plumbum==1.8.3
ply==3.11
polars==1.5.0
progressbar2==4.4.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.3.14
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybedtools==0.10.0
pybigtools==0.2.1
pyBigWig==0.3.22
pybiomart==0.2.0
pycistarget @ git+https://github.com/aertslab/pycistarget@81eb8757ec032a25db53b1952b8529064470e19f
pycisTopic @ git+https://github.com/aertslab/pycisTopic@ee077c1b3e9848775588c2754ee983f9cb4bea97
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydata-sphinx-theme==0.14.4
pyfasta==0.5.2
pygam==0.9.1
Pygments==2.18.0
pynndescent==0.5.13
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyranges==0.0.111
pyrle==0.0.40
pysam==0.22.1
pyscenic @ git+https://github.com/aertslab/pySCENIC@d2309fed83759a0e66e0a995ef3d2f40bf4d6c1a
python-dateutil==2.9.0.post0
python-igraph==0.11.6
python-Levenshtein==0.25.1
python-utils==3.8.2
pytz==2024.1
pyvis==0.3.2
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.1.1
rapidfuzz==3.9.6
ray==2.10.0
referencing==0.35.1
requests==2.32.3
requests-cache==1.2.1
rich==13.7.1
rich-argparse==1.5.2
rpds-py==0.20.0
rsa==4.9
scanorama==1.7.4
scanpy==1.9.8
scatac_fragment_tools==0.1.2
-e git+https://github.com/aertslab/scenicplus.git@16072fb81d6cae286d35f3a42fe96ab9178184fa#egg=scenicplus
scikit-image==0.21.0
scikit-learn==1.3.2
scikit-misc==0.2.0
scipy==1.10.1
scrublet==0.2.3
seaborn==0.13.2
session_info==1.0.0
six==1.16.0
smart-open==7.0.4
snowballstemmer==2.2.0
sorted-nearest==0.0.39
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==6.2.1
sphinx-book-theme==1.0.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
statistics==1.0.3.5
statsmodels==0.14.1
stdlib-list==0.10.0
suds-community==1.1.2
tables==3.8.0
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tinycss2==1.3.0
tmtoolkit==0.12.0
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
tspex==0.6.3
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
umap-learn==0.5.6
url-normalize==1.4.3
urllib3==2.2.2
virtualenv==20.26.3
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.11
wrapt==1.16.0
xlrd==2.0.1
xmltodict==0.13.0
xyzservices==2024.6.0
yarl==1.9.4
zict==3.0.0
zipp==3.20.0
zope.event==5.0
zope.interface==7.0.1
